{% extends "base.html" %}

{% block page_content %}
    {% if account %}
        <div class="m-5">
            <h3 class="mb-5">What is next?</h3>

            <!-- Scrobbler -->
            <div class="container mb-5">
                <h5><span class="text-secondary">Tip #1:</span> How to enable the Plex Scrobbler.</h5>
                <ol>
                    <li><a href="https://app.plex.tv/desktop#!/settings/webhooks" target="_blank" rel="noopener noreferrer">Sign in</a> to your Plex Media Server and go to the <a href="https://app.plex.tv/desktop#!/settings/webhooks" target="_blank" rel="noopener noreferrer">Webhooks settings</a>.
                    </li>
                    <li>Copy the URL
                        <div class="input-group input-group-sm mb-1 mt-1">
                            <input id="copy-webhook-input" type="text" class="form-control" value="{{ webhook_uri }}"
                                   aria-describedby="button-addon2" readonly>
                            <button id="copy-webhook-button" class="btn btn-outline-secondary" type="button"
                                    data-toggle="tooltip" data-placement="button"
                                    title="Copy to Clipboard">
                                Copy
                            </button>
                        </div>
                    </li>
                    <li>Back in <i>Plex Media Server</i>, click <b>Add Webhook</b>, paste in the URL, and click <b>Save Changes</b>.
                    </li>
                    <li>Still in your <i>Plex Media Server</i> settings, we need to make sure a few options are enabled.
                        <ol>
                            <li>Go to <b>General</b>, and make sure <b>Push Notifications</b> are enabled.</li>
                            <li>Go to <b>Network</b>, and make sure <b>Webhooks</b> are enabled.</li>
                        </ol>
                    </li>
                    <li>Enjoy!</li>
                </ol>
                <a href="https://support.plex.tv/articles/115002267687-webhooks/" target="_blank" rel="noopener noreferrer">What is Webhooks?</a>
            </div>

            <!-- Sync -->
            <div class="container mb-5">
                <h5><span class="text-secondary">Tip #2:</span> Link your Plex account.</h5>

                {% if account.plex_account %}
                    <div class="container">
                        <form class="row row-cols-lg-auto g-3 align-items-center"
                              method="post" action="{% url 'unlink' %}">
                            {% csrf_token %}

                            <div class="col-12">
                                <span>{{ account.plex_account.username }}</span>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Unlink</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="container">
                        <form class="row row-cols-lg-auto g-3 align-items-center"
                              method="post" action="{% url 'link' %}">
                            {% csrf_token %}

                            <div class="col-12">
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>

                            <div class="col-12">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Link</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="container mb-5">
                <h5><span class="text-danger">Danger Zone!</span></h5>

                <div class="container">
                    <p>Once you delete an account, there is no going back. Please be certain.</p>
                    <button type="button" class="btn btn-danger"
                            data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                        Delete account
                    </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAccountModal" tabindex="-1"
             aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountModalLabel">Are you absolutely sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body bg-warning">
                        Unexpected bad things will happen if you don’t read this!
                    </div>

                    <div class="modal-body">
                        <p>This action <b>cannot</b> be undone. This will permanently delete the <b>{{ account.username }}</b> account.</p>
                        <p>Please type <b>{{ account.username }}</b> to confirm.</p>
                        <input id="confirmAccountDeleteInput" type="text" class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <form action="{% url 'delete' %}" method="post">
                            {% csrf_token %}
                            <button id="confirmAccountDeleteButton" type="submit" class="btn btn-danger" disabled>
                                Delete this account
                            </button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        $(document).ready(function () {
            let deleteAccountModal = $('#deleteAccountModal');
            if (deleteAccountModal !== undefined) {
                deleteAccountModal.on('show.bs.modal', function (event) {
                    $('#confirmAccountDeleteButton').attr('disabled', true);
                    $('#confirmAccountDeleteInput').val('');
                });

                $('#confirmAccountDeleteInput').bind('input', function (event) {
                    $('#confirmAccountDeleteButton')
                        .attr('disabled', $(this).val() !== "{{ account.username }}");
                });
            }


            let button = $('#copy-webhook-button');

            // Initialize the tooltip.
            button.tooltip();

            // When the copy button is clicked, select the value of the text box, attempt
            // to execute the copy command, and trigger event to update tooltip message
            // to indicate whether the text was successfully copied.
            button.bind('click', function () {
                let input = document.querySelector('#copy-webhook-input');
                input.select();
                input.setSelectionRange(0, input.value.length + 1);

                let button = $('#copy-webhook-button');
                try {
                    let success = document.execCommand('copy');
                    if (success) {
                        button.trigger('copied', ['Copied!']);
                    } else {
                        button.trigger('copied', ['Copy with Ctrl-C']);
                    }
                } catch (err) {
                    button.trigger('copied', ['Copy with Ctrl-C']);
                }
            });

            // Handler for updating the tooltip message.
            button.bind('copied', function (event, message) {
                $(this).attr('title', message)
                    .tooltip('_fixTitle')
                    .tooltip('show')
                    .attr('title', "Copy to Clipboard")
                    .tooltip('_fixTitle');
            });
        });
    </script>
{% endblock %}
