{% extends "base.html" %}

{% block page_content %}
    {% if account %}
        <div class="m-5">
            <h3 class="mb-5">What is next?</h3>

            <div class="container mb-5">
                <h5><span class="badge bg-secondary me-1">Tip #1</span> How to enable the Plex Scrobbler.</h5>
                <div class="container mt-3">
                    {% include 'webhook.html' %}
                </div>
            </div>

            <div class="container mb-5">
                <h5><span class="badge bg-secondary me-1">Tip #2</span> Link your Plex account.</h5>
                <div class="container mt-3">
                    {% include 'link.html' %}
                </div>
            </div>

            <div class="container mb-5">
                <h5><span class="badge bg-secondary me-1">Tip #3</span> Enable Plex Sync.</h5>
                <div class="container mt-3">
                    {% include 'sync.html' %}
                </div>
            </div>

            <div class="container mb-5">
                <h5 class="text-danger"><i class="bi bi-exclamation-octagon-fill me-1"></i> Danger Zone!</h5>
                <div class="container mt-3">
                    <p>Once you delete an account, there is no going back. Please be certain.</p>
                    <button type="button" class="btn btn-danger"
                            data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                        Delete account
                    </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteAccountModal" tabindex="-1"
             aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteAccountModalLabel">Are you absolutely sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body bg-warning">
                        Unexpected bad things will happen if you don’t read this!
                    </div>

                    <div class="modal-body">
                        <p>This action <b>cannot</b> be undone. This will permanently delete the <b>{{ account.username }}</b> account.</p>
                        <p>Please type <b>{{ account.username }}</b> to confirm.</p>
                        <input id="confirmAccountDeleteInput" type="text" class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <form action="{% url 'delete' %}" method="post">
                            {% csrf_token %}
                            <button id="confirmAccountDeleteButton" type="submit" class="btn btn-danger" disabled>
                                Delete this account
                            </button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        function saveServer() {
            let input = $('#serverInput');
            let button = $('#saveServerButton');

            let value = input.val();
            input.removeClass('is-valid');
            input.removeClass('is-invalid');

            input.attr('disabled', true);
            button.attr('disabled', true);
            button.html('<span id="saveServerSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>')

            function handleResult(data) {
                setTimeout(function () {
                    input.attr('disabled', false);
                    button.attr('disabled', false);
                    button.html('Save');

                    input.addClass(data && data.success ? 'is-valid' : 'is-invalid');
                }, 600);
            }

            $.post("{% url 'servers' %}", {'address': value},
                function (data) {
                    handleResult(data);
                }, "json")
                .fail(function () {
                    handleResult(null);
                });
        }

        $(document).ready(function () {
            $('#linkUsernameInput').bind('input', function (event) {
                $(this).removeClass('is-invalid');
            });

            $('#linkPasswordInput').bind('input', function (event) {
                $(this).removeClass('is-invalid');
            });


            $('#serverDropdown').on('click', 'li a', function (event) {
                $('#serverInput').val($(this).attr('data-value'));
                $('#serverDropdown').hide();
            });

            let serverInput = $('#serverInput');
            serverInput.bind('input', function (event) {
                $(this).removeClass('is-invalid').removeClass('is-valid');
            });
            serverInput.click(function () {
                $(this).removeClass('is-invalid').removeClass('is-valid');
            });

            serverInput.focus(function () {
                $.getJSON("{% url 'servers' %}", function (data) {
                    let serverDropdown = $('#serverDropdown');
                    serverDropdown.empty();

                    let count = 0;
                    $.each(data, function (i, server) {
                        $.each(server.connections, function (y, connection) {
                            count++;

                            let li = $('<li><a></a></li>');
                            $("a", li)
                                .attr('class', 'dropdown-item')
                                .attr('href', 'javascript:void(0)')
                                .attr('data-value', connection)
                                .text(connection + " (" + server.name + ")");

                            serverDropdown.append(li);
                        });
                    });

                    if (count > 0) {
                        serverDropdown.show();
                    }
                });
            });
            serverInput.focusout(function () {
                $('#serverDropdown').delay(300).hide(0);
            });


            let deleteAccountModal = $('#deleteAccountModal');
            if (deleteAccountModal !== undefined) {
                deleteAccountModal.on('show.bs.modal', function (event) {
                    $('#confirmAccountDeleteButton').attr('disabled', true);
                    $('#confirmAccountDeleteInput').val('');
                });

                $('#confirmAccountDeleteInput').bind('input', function (event) {
                    $('#confirmAccountDeleteButton')
                        .attr('disabled', $(this).val() !== "{{ account.username }}");
                });
            }


            let button = $('#copyWebhookButton');

            // Initialize the tooltip.
            button.tooltip();

            // When the copy button is clicked, select the value of the text box, attempt
            // to execute the copy command, and trigger event to update tooltip message
            // to indicate whether the text was successfully copied.
            button.bind('click', function () {
                let input = document.querySelector('#copyWebhookInput');
                input.select();
                input.setSelectionRange(0, input.value.length + 1);

                let button = $('#copyWebhookButton');
                try {
                    let success = document.execCommand('copy');
                    if (success) {
                        button.trigger('copied', ['Copied!']);
                    } else {
                        button.trigger('copied', ['Copy with Ctrl-C']);
                    }
                } catch (err) {
                    button.trigger('copied', ['Copy with Ctrl-C']);
                }
            });

            // Handler for updating the tooltip message.
            button.bind('copied', function (event, message) {
                $(this).attr('title', message)
                    .tooltip('_fixTitle')
                    .tooltip('show')
                    .attr('title', "Copy to Clipboard")
                    .tooltip('_fixTitle');
            });
        });
    </script>
{% endblock %}
