.git
.github
.gitignore
.dockerignore
docker-compose.yml
Dockerfile
LICENSE
README.md

project/.idea/
project/node_modules/
project/.gitignore
project/.env
project/.env.example
project/.python-version
project/gulpfile.js
project/package-lock.json
project/package.json
