{% with plex_account=user.plexaccount %}
    {% if plex_account %}
        {% csrf_token %}
        <div class="input-group input-group-sm mb-1">
            <input id="serverInput" type="text" class="form-control" autocomplete="off"
                   placeholder="http://myplexserver:32400"
                   value="{{ plex_account.server.connection|default:"" }}">
            <ul id="serverDropdown" class="dropdown-menu dropdown-menu-start"></ul>
            <button id="saveServerButton" class="btn btn-outline-secondary" type="button" onclick="saveServer();">
                Save
            </button>
        </div>

        {% with plex_server=plex_account.server %}
            {% if plex_server %}
                <span class="text-secondary">
                    <small>Last sync at: <i><span id="lastSyncTimeText">{{ plex_server.sync_at|default:"never" }}</span></i></small>
                </span>
            {% endif %}
        {% endwith %}
    {% else %}
        First, link your Plex account.
    {% endif %}
{% endwith %}
